{:source-paths ["src/main"]
 :dependencies [[metosin/reitit-core "0.7.2"]
                [metosin/reitit-malli "0.7.2"]
                [no.cjohansen/replicant "2025.12.1"]]
 :builds
 {:worker
  {:target :esm
   :output-dir "out"
   :modules {:main {:exports {default worker.core/handler-obj}}}
   :devtools {:enabled false}
   :compiler-options {:optimizations :advanced}}

  :client
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:client {:init-fn worker.client/init}}
   :devtools {:enabled false}
   :compiler-options {:optimizations :advanced}}}}
